{% extends 'index.html' %}
{% load static %}
{% block title %}My Image Page2{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="border: 2px solid black; border-radius: 5px; display: flex; justify-content: center; align-items: center;">
            <img src="{% static 'Django.jpeg' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-3" style="border: 2px solid black; border-radius: 5px; display: flex; justify-content: center; align-items: center;">
            <img src="{% static 'Python.jpeg' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-3" style="border: 2px solid black; border-radius: 5px; display: flex; justify-content: center; align-items: center;">
            <img src="{% static 'Django.jpeg' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-3" style="border: 2px solid black; border-radius: 5px; display: flex; justify-content: center; align-items: center;">
            <img src="{% static 'Python.jpeg' %}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{% endblock %}