{% extends 'index.html' %}
{% block title %}My Form Page{% endblock %}
{% block content %}
<h1 style="text-align: center; margin-top: 1rem;">My Form Page</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form method="POST" action="{% url 'submitmyform' %}">
        {% csrf_token %}  <!-- For security purpose in POST method -->
        <!-- csrf token is used to prevent CSRF attacks -->
        <div class="form-group" style="margin: 0 auto;">
          <label for="mytext">My Text</label>
          <input type="text" id="mytext" name="mytext" class="form-control">
        </div>
        <div class="form-group">
          <label for="mytextarea">My Textarea</label>
          <textarea name="mytextarea" id="mytextarea" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" style="margin: 0 auto; display: block;">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}