{% extends 'index.html' %}
{% block title %}My Form2{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST" class="p-3 border rounded bg-light">
                {% csrf_token %}

                {{ form.as_ul }}
                <!-- {{ form.as_p }} -->
                <!-- form.as_p is used to render the form fields as <p> elements -->
                <!-- {{ form.as_table }} -->
                <!-- form.as_table is used to render the form fields as a table -->
                <!-- {{ form.as_ul }} -->
                <!-- form.as_ul is used to render the form fields as an unordered list -->

                <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}