{% extends 'index.html' %}
{% block title %}My Form{% endblock %}
{% block content %}
  <h1 style="text-align: center; margin-top: 1rem;">My form</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;">
            <!-- <form method="GET" action="{% url 'submitmyform' %}">    -->
                <!-- Method and action are form backend -->
                <!-- With this we can get the urls as of the forms(like text and textarea) -->
                    <!-- Example: http://127.0.0.1:8000/submitmyform?mytext=Hi+Adi+Bhai&mytextarea=Adi+tum+chutiya+ho -->
                <!-- In the GET method the values in the form will be visual in the form of JSON -->

            <form method="POST" action="{% url 'submitmyform' %}">  
                <!-- When we define a form with the POST method then we need to define a CSRF token -->
                <!-- With this POST method we will not get the urls as of the forms(like text and textarea) -->
                    <!-- Example: http://127.0.0.1:8000/submitmyform -->
                <!-- In the POST method the values in the form will be visual in the form of JSON -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="mytext">My Text</label>
                    <input type="text" id="mytext" name="mytext" class="form-control">
                </div>

                <div class="form-group">
                    <label for="mytextarea">My TextArea</label>
                    <textarea class="form-control" name="mytextarea" id="textarea" rows="3"></textarea>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="margin: 9px auto; display: block;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


