{% extends 'index.html' %}
{% block title %}My Third Page{% endblock %}
{% block content %}
<h1>Hello, world! Django project ThirdPage extend first page with common navbar</h1>
<h2>{{ var }}</h2>
<h3>{{ msg }}</h3>
<ul>
    {% for i in fruits %}
    <li>
        {{ i }}
    </li>
    {% endfor %}
</ul>


<!-- Using Backend logic in the frontend part -->
{% if ans %}
<h4>{{ num1 }} is greater then {{ num2 }}</h4>
{% else %}
<h4>{{ num2 }} is greater then {{ num1 }}</h4>
{% endif %}

{% endblock %}