<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET Method</title>
</head>

<body>
    <!-- GET Method -->
    <!-- This form will send data using the GET method when submitted -->
    <form action="" method="GET">
        <label for="your_name">Your name: </label>
        <input id="your_name" type="text" name="your_name">
        <input type="submit" value="OK">
    </form>

    <!-- This form will act as a query parameters -->
    <!-- Submitting the form will append data to the URL, which can be accessed in the view using request.GET. -->
    <!-- http://127.0.0.1:8000/T8_Handling_HTML_Forms_in_Django_GET_and_POST_Methods/get?your_name=Raj -->
</body>

</html>