<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class View List</title>
</head>

<body>
    <ul>
        <!-- Iterate over object_list -->
        {% for object in object_list %}
        <!-- Display objects -->
        <li>{{ object.title }}</li>
        <li>{{ object.description }}</li>

        <hr />

        <!-- If object_list is empty -->
        {% empty %}
        <li>No object yet.</li>
        {% endfor %}
    </ul>
</body>

</html>